@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<br>
<p class="text-center general-content" >Check out the upcoming events and don't forget to register!</p>
<br>
<div class="container">
    @foreach (var eventDb in @Model.Events)
    {
       
        <div class="event-container">
            <h4 class="event-title general-header">
                @eventDb.Name
            </h4>
            <p class="event-description general-header">
                @eventDb.Description
            </p>
            <p class="event-location general-content">
                @eventDb.Location
            </p>
            <p class="event-time general-content">
                @eventDb.StartTime - @eventDb.StartTime
            </p>

            <div class="col-1 pl-1 pr-1 text-center" id="button-col">
                <a asp-page="/Registration" asp-route-id="@eventDb.ID" class="btn text-white">Register</a>
            </div>
        </div>
       
        <br>
    }
</div>
