@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron jumbotron text-white" 
    style="background-image: url(https://images.squarespace-cdn.com/content/v1/5678aae30e4c118f2402720e/1610508196223-4L5KWAT74ABHE7VCKMVC/santa+rosa+wedding+cover+band?format=1000w);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;">
	<div class="container">
        <h2 class="text-center display-3 mb-4">Let's have fun!</h2>
	</div>
</div>
<br>
<p class="text-center general-content" >Check out the upcoming events and don't forget to register!</p>
<br>
<div class="container">
    @foreach (var eventDb in @Model.Events)
    {
       
        <div class="event-container">
            <h4 class="event-title general-header">
                @eventDb.Name
            </h4>
            <p class="event-description general-header">
                @eventDb.Description
            </p>
            <p class="event-location general-content">
                @eventDb.Location
            </p>
            <p class="event-time general-content">
                @eventDb.StartTime - @eventDb.StartTime
            </p>

            <div class="col-1 pl-1 pr-1 text-center" id="button-col">
                <a asp-page="/Registration" asp-route-name=@System.Web.HttpUtility.UrlPathEncode(@eventDb.Name) class="btn text-white">Register</a>
            </div>
        </div>

         <br>
    }
</div>
